<h1>Home</h1>

<%= @body_json %>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Published</th>
    <th>Usuń</th>
    <th>Aktualizuj</th>
  </tr>
  <% @body.each do |movie| %>
    <tr>
      <td><%= movie['id'] %></td>
      <td><%= movie['title'] %></td>
      <td><%= movie['description'] %></td>
      <td><%= movie['published'] %></td>
      <td><%= button_to 'Usuń', movie_path(movie['id']), method: :delete %></td>
      <td><%= link_to 'Aktualizuj', edit_movie_path(movie['id']) %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to "Dodaj film", new_movie_path %></p>